*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-ubuntu;
  color: $color-default-black;

  background-color: $color-swiss;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  margin: 0;

  text-decoration: none;
}
