// Colors
// --------------------------------------------

// Default

$color-default-black: #413f3d;
$color-default-white: #f2f1ef;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette

$color-swiss: #d8d0d0;
$color-pink: #fef4f4;

// Typography
// --------------------------------------------

$font-open-sans: "Open Sans", sans-serif;
